body {
  display: flex;
  justify-content: center;
  text-align: center;
}

h2 {
  font-family: 'Righteous', cursive;
  padding: 20px;
  margin-top: 70px;
}



input:-webkit-autofill,
 input:-webkit-autofill:hover,
 input:-webkit-autofill:focus textarea:-webkit-autofill,
 textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
 select:-webkit-autofill,
 select:-webkit-autofill:hover,
 select:-webkit-autofill:focus {
   -webkit-box-shadow: 0 0 0px 1000px #ffffff inset !important;
 }

#dropDown {
  text-align: center;
}

.d-block {
  border-radius: 5px;
  margin: 10px;
}
